:javascript
  jQuery(function() {
    jQuery("#add-encounter-event-skill-check-condition-link-#{@encounter_event.id}")
      .bind("ajax:complete", function(et, e) {
        jQuery("#add-encounter-event-condition-choice-#{@encounter_event.id}").html(e.responseText);
      });
      
      jQuery("#add-encounter-event-miscellaneous-condition-link-#{@encounter_event.id}")
        .bind("ajax:complete", function(et, e) {
          jQuery("#add-encounter-event-condition-choice-#{@encounter_event.id}").html(e.responseText);
        });
  });

%div{:id => "add-encounter-event-condition-choice-#{@encounter_event.id}"}
  What kind of condition do you want to add?

  %ul
    %li{:id => "add-encounter-event-skill-check-condition-link-#{@encounter_event.id}"}= link_to 'Skill Check', new_encounter_event_skill_check_condition_path(:encounter_event_id => @encounter_event.id), :remote => true
    %li{:id => "add-encounter-event-miscellaneous-condition-link-#{@encounter_event.id}"}= link_to 'Miscellaneous Condition', new_encounter_event_miscellaneous_condition_path(:encounter_event_id => @encounter_event.id), :remote => true
