<p id="notice"><%= notice %></p>

<p>
  <b>Encounter:</b>
  <%= @encounter_event.encounter_id %>
</p>

<p>
  <b>When:</b>
  <%= @encounter_event.when %>
</p>

<p>
  <b>Text to read:</b>
  <%= @encounter_event.text_to_read %>
</p>


<%= link_to 'Edit', edit_encounter_event_path(@encounter_event) %> |
<%= link_to 'Back', encounter_events_path %>
