:javascript
  jQuery(function() {
    createEditInActiveTabButton(jQuery('#edit-encounter-area-feature-#{encounter_area_feature.id}-button'), '#{edit_encounter_area_feature_path(encounter_area_feature)}');
  });

.tab-sub-section
  %b= "#{encounter_area_feature.name}: "
  = encounter_area_feature.description
  = render :partial => 'shared/dialog_form', :locals => {:title => 'Edit', :id_text => "edit-encounter-area-feature-#{encounter_area_feature.id}", :url => edit_encounter_area_feature_path(encounter_area_feature)}
  