:javascript
  jQuery(function() {
    jQuery('##{id_text}-button')
      .button()
      .bind("ajax:complete", function(et, e) {
        jQuery("##{id_text}-dialog").html(e.responseText);
        jQuery("##{id_text}-dialog").dialog({
          autoOpen: false,
          modal: true,
          width: 'auto',
          title: '#{title}',
          buttons: {
            Cancel: function() {
              jQuery(this).dialog("close");
            }
          }
        });
        jQuery("##{id_text}-dialog").dialog("open");
      })
  });

%div{:id => "#{id_text}-button"}= link_to title, url, :remote => true
.hidden{:id => "#{id_text}-dialog"}