:javascript
  jQuery(function() {
    createEditInActiveTabButton(jQuery('#edit-adventure-button'), '#{edit_adventure_path(@adventure)}');
  });

#edit-adventure-button Edit

%p
  %b= "An adventure for five #{@adventure.level.ordinalize}-level adventurers"


.tab-section
  = render :partial => 'shared/paragraph_text', :locals => {:text => @adventure.description}
  %div
    %b Tiles:
    = @adventure.tiles


.tab-section
  .tab-section-title Expanding the Adventure
  = render :partial => 'shared/paragraph_text', :locals => {:text => @adventure.expanding_description}