<script>
  function loadUrlInActiveTab(url) {
    var selected = jQuery('#tabs').tabs('option', 'selected');
    jQuery('#tabs').tabs('url', selected, url);
    jQuery('#tabs').tabs('load', selected);
  }

	jQuery(function() {
		jQuery('#tabs').tabs({
      load: function(event, ui) {
        jQuery('a', ui.panel).click(function() {
          jQuery(ui.panel).load(this.href);
          return false;
        });
      },
      selected: <%= @selected_tab || 0 %>
    });
	});
</script>

<div id="tabs">
  <ul>
    <li><a href="<%= adventure_show_basics_path(@adventure) %>">Basics</a></li>
    <% @adventure.encounters.each do |encounter| %>
      <li><a href="<%= encounter_path(encounter) %>">Encounter: <%= encounter.name %></a></li>
    <% end %>
    <li><a href="<%= new_encounter_path(:adventure_id => @adventure.id) %>">+ Add Encounter</a></li>
  </ul>
</div>