<%= form_for(@encounter) do |f| %>
  <% if @encounter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encounter.errors.count, "error") %> prohibited this encounter from being saved:</h2>

      <ul>
      <% @encounter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :adventure_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :setup %><br />
    <%= f.text_area :setup %>
  </div>
  <div class="field">
    <%= f.label :tactics %><br />
    <%= f.text_area :tactics %>
  </div>
  <div class="field">
    <%= f.label :conclusion %><br />
    <%= f.text_area :conclusion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
