:javascript
  jQuery(function() {
    jQuery("#edit-encounter-#{@encounter.id}-cancel-button")
      .button()
      .bind('click', function() {
        loadUrlInActiveTab('#{adventure_path(@encounter.adventure)}');
      });
  });

.tab-title= "Editing #{@encounter.name}"

= render 'form'

%div{:id => "edit-encounter-#{@encounter.id}-cancel-button"} Cancel
