:javascript
  jQuery(function() {
    jQuery("#edit-encounter-#{@encounter.id}-cancel-button")
      .button()
      .bind('click', function() {
        loadUrlInActiveTab('#{encounter_path(@encounter)}');
      });
  });

.tab-title= "Editing #{@encounter.name}"

= render 'form'

%div{:id => "edit-encounter-#{@encounter.id}-cancel-button"} Cancel
