:javascript
  jQuery(function() {
    createLoadInActiveTabButton(jQuery("#edit-encounter-#{@encounter.id}-cancel-button"), '#{encounter_path(@encounter)}');
  });

%div
  .tab-title.float-left= "Editing \"#{@encounter.name}\""
  .float-left.margined{:id => "edit-encounter-#{@encounter.id}-cancel-button"} Cancel
  .clear-both

= render 'form'


