:javascript
  jQuery(function() {
    createEditInActiveTabButton(jQuery('#edit-encounter-#{@encounter.id}-button'), '#{edit_encounter_path(@encounter)}');
  });

.tab-header
  .tab-title.float-left= @encounter.name
  %span.float-left.margined{:id =>"edit-encounter-#{@encounter.id}-button"} Edit
  .clear-both


%p
  %b 
    Encounter Level 
    = @encounter.level
    = "(#{@encounter.xp}"
    XP)
    
.tab-section
  = render @encounter.encounter_enemies
  = render :partial => 'shared/dialog_form', :locals => {:title => 'Add Enemy', :id_text => "add-encounter-enemy-#{@encounter.id}", :url => new_encounter_enemy_path(:encounter_id => @encounter.id)}

.tab-section
  .tab-section-title Setup
  = render :partial => 'shared/paragraph_text', :locals => {:text => @encounter.setup}
  
  %div
    = render @encounter.encounter_events
    = render :partial => 'shared/dialog_form', :locals => {:title => 'Add Encounter Event', :id_text => "add-encounter-event-#{@encounter.id}", :url => new_encounter_event_path(:encounter_id => @encounter.id)}

.tab-section
  .tab-section-title Tactics
  = render :partial => 'shared/paragraph_text', :locals => {:text =>  @encounter.tactics}
  
.tab-section
  .tab-section-title Area Features
  = render @encounter.encounter_area_features
  = render :partial => 'shared/dialog_form', :locals => {:title => 'Add Area Feature', :id_text => "add-encounter-area-feature-#{@encounter.id}", :url => new_encounter_area_feature_path(:encounter_id => @encounter.id)}
  
- if @encounter.conclusion
  .tab-section
    .tab-section-title Conclusion
    = render :partial => 'shared/paragraph_text', :locals => {:text => @encounter.conclusion}

