:javascript
  jQuery(function() {
    jQuery('#edit-encounter-#{@encounter.id}-button')
      .button()
      .bind('click', function() {
        loadUrlInActiveTab('#{edit_encounter_path(@encounter)}');
      });
    
    jQuery('#add-encounter-enemy-#{@encounter.id}-button')
      .button();
    
    jQuery('#add-encounter-event-#{@encounter.id}-button').button();
    
    jQuery('#add-encounter-area-feature-#{@encounter.id}-button').button();
  });

.tab-header
  .tab-title.float-left= @encounter.name
  %a.icon-button.float-left{:href => edit_encounter_path(@encounter), :id => "edit-encounter-#{@encounter.id}-button"}
    .ui-icon.ui-icon-pencil
  .clear-both


%p
  %b 
    Encounter Level 
    = @encounter.level
    = "(#{@encounter.xp}"
    XP)
    
.tab-section
  = render @encounter.encounter_enemies
  %div{:id => "add-encounter-enemy-#{@encounter.id}-button"}= link_to 'Add Enemy', new_encounter_enemy_path(:encounter_id => @encounter.id)

.tab-section
  .tab-section-title Setup
  = render :partial => 'shared/paragraph_text', :locals => {:text => @encounter.setup}
  
  %div
    = render @encounter.encounter_events
    %div{:id => "add-encounter-event-#{@encounter.id}-button"}= link_to 'Add Encounter Event', new_encounter_event_path(:encounter_id => @encounter.id)

.tab-section
  .tab-section-title Tactics
  = render :partial => 'shared/paragraph_text', :locals => {:text =>  @encounter.tactics}
  
.tab-section
  .tab-section-title Area Features
  = render @encounter.encounter_area_features
  %div{:id => "add-encounter-area-feature-#{@encounter.id}-button"}= link_to 'Add Area Feature', new_encounter_area_feature_path(:encounter_id => @encounter.id)
  
- if @encounter.conclusion
  .tab-section
    .tab-section-title Conclusion
    = render :partial => 'shared/paragraph_text', :locals => {:text => @encounter.conclusion}

