<%= form_for(@encounter_enemy) do |f| %>
  <% if @encounter_enemy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encounter_enemy.errors.count, "error") %> prohibited this encounter_enemy from being saved:</h2>

      <ul>
      <% @encounter_enemy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :encounter_id %><br />
    <%= f.text_field :encounter_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </div>
  <div class="field">
    <%= f.label :xp %><br />
    <%= f.text_field :xp %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
