= stylesheet_link_tag :all
= stylesheet_link_tag 'controllers/' + controller.controller_name
= javascript_include_tag 'jquery/jquery.min.js'
= javascript_include_tag 'jquery/jquery-ui.1.8.9.custom.min.js'
= javascript_include_tag :all
= csrf_meta_tag