%html
  %head
    %title= [@title, 'Invent'].compact.join(' - ')
    = render :partial => 'layouts/head_content'
    
  %body
    = render :partial => 'layouts/header'
    = yield
    = render :partial => 'layouts/footer'