%html
  %head
    %title Builder
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'controllers/' + controller.controller_name
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js'
    = javascript_include_tag :all
    = csrf_meta_tag
    :javascript
      jQuery.noConflict();
    
  %body
    - if notice
      .notice.ui-widget
        .ui-state-highlight.ui-corner-all
          %span.ui-icon.ui-icon-info
          %span= notice
  
    = yield

